.container-cp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

h1 {
    color: darkblue !important;
}

p {
    color: black !important;
    font-size: 20px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;

}

.button-toggle {
    padding: 20px;
    outline: none;
    border: none;
    /* background-color: lightgrey !important; */
}

.monthly {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.yearly {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.clicked {
    color: white;
    background-color: rgb(97, 66, 222);
}

.price-cards-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}